---
import styles from '../../styles/footer.module.scss';
---


<footer class={styles.footerContainer}>
  <div class={styles.contacts}>
    <h3>
      Contacts:
    </h3>
    <p>Email: illiadolbnia@gmail.com</p>
  </div>
  <div class={styles.creatorLink}>
    <p>Copyright © 2024. All rights reserved.</p>
    <a href="https://github.com/Gmust" target="_blank">
      Developed by Illia Dolbnia
    </a>
  </div>
  {/*<button onClick={() => {*/}
  {/*  addToast({*/}
  {/*    type: ToastTypes.Success,*/}
  {/*    message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, ducimus magni nam nobis placeat sint\n' +*/}
  {/*      '        voluptas! ',*/}
  {/*  });*/}
  {/*}}>*/}
  {/*{ToastTypes.Success}</button>*/}
  {/*<button onClick={() => {*/}
  {/*  addToast({*/}
  {/*    type: ToastTypes.Warning,*/}
  {/*    message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, ducimus magni nam nobis placeat sint\n' +*/}
  {/*      '        voluptas! ',*/}
  {/*  });*/}
  {/*}}>{ToastTypes.Warning}</button>*/}
  {/*<button onClick={() => {*/}
  {/*  addToast({*/}
  {/*    type: ToastTypes.Error,*/}
  {/*    message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, ducimus magni nam nobis placeat sint\n' +*/}
  {/*      '        voluptas! ',*/}
  {/*  });*/}
  {/*}}>{ToastTypes.Error}</button>*/}
  {/*<button onClick={() => {*/}
  {/*  addToast({*/}
  {/*    type: ToastTypes.Default,*/}
  {/*    message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, ducimus magni nam nobis placeat sint\n' +*/}
  {/*      '        voluptas! ',*/}
  {/*    headingText: "test text",*/}
  {/*    Icon: ImChrome*/}
  {/*  });*/}
  {/*}}>{ToastTypes.Default}</button>*/}
  {/*<ToastList position={ToastPositions.TopLeft} data={toasts} removeToast={removeToast} />*/}
</footer>

